---
layout: fi
title: Lääkärin palkka - Töissä terveyskeskuksessa
description: Lääkärin palkka määräytyy väestövastuuvirkaehtosopimuksen (omalääkäri) tai yleisen terveyskeskuslääkärien virkaehtosopimuksen (muu kuin omalääkäri) perusteella tai sopimalla palkkiosta erikseen muulla tavoin.
keywords: lääkäri, palkka, palkkaus, VES, väestövastuu, omalääkäri, virkaehtosopimus, terveyskeskus, toimenpidepalkkio, tehtäväkohtainen palkka, henkilökohtainen lisä, työkokemusosa, väestönosa, käyntipalkkio, päivystyspalkkio
counterPart: /sv/arbeta-pa-halsovardscentral/lakarnas-loner.html
language: fi
---

h1 Lääkärin palkka

p Lääkärin palkan suuruus määräytyy Kunnallisen lääkäreiden virkaehtosopimuksen eli LVES:n terveyskeskuslääkärit liitteen mukaisesti tai sopimalla palkkiosta erikseen muulla tavoin.

figure
  img(src="http://res.cloudinary.com/hcmcbhfea/image/upload/v1414773965/tkrekry-laakari-lempaala-02.jpg", class="right", alt="Mieslääkäri tietokoneella")
  figcaption Kuva: 
    a(href="http://www.lempaala.fi/terveys_ja_hyvinvointi/terveyspalvelut/") Lempäälän terveyskeskus

p Julkisen työnantajan maksama palkka muodostuu erilaisista elementeistä, jotka vaihtelevat jonkin verran eri työnantajilla. Yleiset periaatteet ovat kuitenkin samat ja löytyvät kunnallisesta <a href="http://www.kuntatyonantajat.fi/fi/sopimukset/laakarit/Sivut/default.aspx">virkaehtosopimuksesta</a> Kuntatyönantajien sivustolta.

p Palkan eri osat vaikuttavat kuukausittain käteen saatavaan summaan. Palkan laskentaperusteiden eroihin vaikuttaa eniten se, minkälainen palkkausmalli on käytössä.

p Terveyskeskuksissa on käytössä tavanomaisimmin joku seuraavasta kolmesta palkkausmallista:

ul
  li Lääkärisopimuksen mukainen terveyskeskuslääkärit liitteen mukainen palkkaus.
  li Vanha Omalääkärit liitteen (ollut voimassa 31.12.2015 saakka) mukainen palkkausmalli.
  li Erilaisia paikallisia palkkausmalleja, joissa on yhdistetty yllä mainittujen sopimuksien piirteitä.

p Uudesta lääkäreiden virkaehtosopimuksesta omalääkärimääräykset on poistettu 01.01.2016 alkaen. Kuitenkin 31.12.2015 saakka voimassa olleessa Lääkärisopimuksessa 2014-2016 (kirjassa) olleet omalääkärien määräykset ovat edelleen voimassa sosiaali- ja terveydenhuollon kokonaisuudistuksen voimaantuloon saakka.

p Palkasta on myös mahdollista sopia neuvottelemalla.

h2 Palkkaan liittyvät etuudet

p Palkkaan liittyviä etuuksia ovat esimerkiksi loma-ajan, sairausajan ja äitiysloman palkka. Julkisen työnantajan ja yksityissektorin maksamien palkkojen ja työsuhde-etujen vertaaminen euroissa on usein vaikeaa. Julkisella sektorilla palkka ja työsuhde-edut määritellään virkaehtosopimuksessa. Lue lisää <a href="/toissa-terveyskeskuksessa/tyosuhde-edut.html">työsuhde-eduista</a>.

h2 Yleinen terveyskeskuslääkärien virkaehtosopimus

p Lääkärisopimuksen terveyskeskuslääkärit liitteen mukaisesti lääkärin viikkotyöaika on 38h 15min. Palkka muodostuu seuraavista osista:

ul
  li Tehtäväkohtainen palkka
  li Työkokemusolisä
  li Henkilökohtainen lisä
  li Lisätyöpalkkio
  li Toimenpidepalkkio
  li Päivystyspalkkio
  
p Tehtäväkohtaisen palkan lisäksi voidaan työntekijälle maksaa harkinnanvaraista henkilökohtaista lisää esimerkiksi tehtävän vaativuuden mukaan.

p Tehtäväkohtaisen palkan ja sen päälle tulevien edellä listattujen eri osien määrät on kuvattu kunnallisen <a href="http://flash.kuntatyonantajat.fi/ls-2014-2016/html/#62">virkaehtosopimuksen liitteessä 1 Kuntatyönantajien sivustolla</a> (vaatii Flash-playerin).

h3 Kokonaispalkka

p Lähtöpalkka on neuvottelukysymys. Hyvää tukea neuvottelulle antaa <a href="http://www.fimnet.fi/cl/laakariliitto/kirjautuminen/callback/?page=1814">Lääkäriliiton Palkkatohtori</a> (vaatii sisäänkirjautumisen Fimnet-tunnuksella). Esimerkiksi määräaikaisen nuoren terveyskeskuslääkärin keskipalkka on 5500€, mutta vaihteluväli on 4900-7300€.
  
h2 Terveyskeskuksen Omalääkärit (vanha sopimus, jota voidaan noudattaa Sote uudistukseen saakka)

p Omalääkärin palkka muodostuu seuraavista osista:

ul
  li Tehtäväkohtainen palkka
  li Henkilökohtainen lisä
  li Työkokemuslisä
  li Väestönosa
  li Käyntipalkkio
  li Toimenpidepalkkio
  li Päivystyspalkkio

p Tehtäväkohtaisen palkan ja sen päälle tulevien edellä listattujen eri osien määrät on kuvattu kunnallisen <a href="http://flash.kuntatyonantajat.fi/ls-2014-2016/html/#62">virkaehtosopimuksen liitteessä 1 Kuntatyönantajien sivustolla</a> (Lääkärisopimuksessa 2014-2016 (kirjassa) (vaatii Flash-playerin).

h3 Kokonaispalkka

p Lääkärin kokonaispalkka muodostuu yllä luetelluista osista. <a href="http://www.fimnet.fi/cl/laakariliitto/kirjautuminen/callback/?page=1814">Palkkatohtorin</a> (vaatii sisäänkirjautumisen Fimnet-tunnuksilla) mukaan omalääkärin työssä terveyskeskuksessa säännöllisen työajan palkkataso on:

ul
  li Vakituisella terveyskeskuslääkärillä 5600-7700€
  li Erikoistuva tk-lääkäri 5000-7200€
  li Erikoislääkärillä 5700-8300€

h2 Muu palkkausperuste

p Kahden tavanomaisen palkkausmallin lisäksi käytössä on erilaisia paikallisia palkkausmalleja. Kannattaa ottaa selvää käytössä olevasta palkkausmallista ennen työsi aloittamista.

p Terveyskeskuksessa on myös mahdollista sopia palkka kokonaiskorvauksena tietylle ajanjaksolle. Hyvää tukea neuvottelulle antaa <a href="http://www.fimnet.fi/cl/laakariliitto/kirjautuminen/callback/?page=1814">Lääkäriliiton Palkkatohtori</a> (vaatii sisäänkirjautumisen Fimnet-tunnuksella), josta näkee alueella maksetun keskipalkan ja palkkojen ylä- ja alarajan.

p Lääkäreitä koskevia palkkatietoja löydät lisää mm. <a href="https://www.laakariliitto.fi/site/assets/files/1269/terveyskeskusten_palkkataulukot.pdf">Suomen lääkäriliiton työmarkkinatutkimuksesta</a> (PDF) vuodelta 2014.







