---
title: "Työsuhde-edut - Töissä terveyskeskuksessa"
description: "Kunnallinen työsuhde tarjoaa useita etuja, kuten työsuhdeturva, lomat, vapaat, jatkokoulutusmahdollisuudet, toimipaikka- ja täydennyskoulutus sekä erilaiset työhyvinvointia lisäävät palvelut."
keywords: "terveyskeskuslääkäri, työsuhde-edut, työsuhdeturva, lomaedut, sairauslomaturva, äitiysloma, perhevapaat, yleislääketieteen erityiskoulutus, erikoistumiskoulutus, toimipaikkakoulutus, täydennyskoulutus, tutkimus, kehittäminen, työmatkat, työhyvinvointi, työterveyshuolto, työsuojelu, työpaikkademokratia, asuminen"
slug: "/toissa-terveyskeskuksessa/tyosuhde-edut.html"
counterPart: "/sv/arbeta-pa-halsovardscentral/anstallningsformaner.html"
language: fi
counterLang: "sv"
---

h1 Työsuhde-edut

p Kunnallinen työsuhde tarjoaa useita etuja, kuten työsuhdeturva, lomat, vapaat, jatkokoulutusmahdollisuudet, toimipaikka- ja täydennyskoulutus sekä erilaiset työhyvinvointia lisäävät palvelut.

figure
  img(src="/images/tkrekry-tiimi-sisalla-kangasala.jpg", class="right", alt="Henkilökuntaa ja potilas pyörätuolissa")
  figcaption Kuva:
    a(href="http://www.kangasala.fi/sosiaali_ja_terveys/terveyspalvelut/") Kangasalan terveyskeskus

p Työsuhteessa noudatetaan lain ja asetusten lisäksi <a href="http://www.kuntatyonantajat.fi/fi/sopimukset/laakarit/Sivut/default.aspx">kunnallisia virka- ja työehtosopimuksia</a>:  Kunnallinen lääkärien virkaehtosopimus 2014-2016 ja Kunnallinen yleinen virka- ja työehtosopimus 2014-2016.

p Kunnallisen työsuhteen etuja ovat esimerkiksi:

ul
  li Työsuhdeturva
  li Lomaedut
  li Sairauslomaturva
  li Äitiys- ja isyyslomat
  li Yleislääketieteen erityiskoulutus ja erikoistumiskoulutus
  li Toimipaikka- ja täydennyskoulutus
  li Tutkimus- ja kehittämistehtävät
  li Työmatkat
  li Työhyvinvointi (tyhy)
  li Työterveyshuolto
  li Työsuojelu
  li Työpaikkademokratia
  li Asuminen

h2 Työsuhdeturva

p Työsuhdeturva on kuntatyönantajan puolella vahva. Viranhaltijan irtisanominen on perustelluista syistä mahdollista, mutta tapahtuu erittäin harvoin.

h2 Lomaedut

p Vuosilomaa työntekijälle kertyy työsuhteen kestosta riippuen. Lauantaita ja sunnuntaita ei lasketa lomapäiviin. Loma voi sijoittua työntekijän toiveen mukaan mihin tahansa vuodenaikaan.

h2 Sairauslomaturva

p Kuntatyönantajan palveluksessa sairausloma on palkallista riippumatta siitä, onko kyseessä lyhyt loma, johon riittää oma ilmoitus tai pidempi sairausloma. Jos työsuhde on kestänyt alle 60 päivää, palkallista sairauslomaa voi saada 14 päivää. Jos työsuhde on kestänyt vähintään 60 päivää, sairauslomaa voi saada 60 päivää täydellä palkalla ja sen jälkeen 120 päivää 2/3 palkalla. Palkattoman sairausajan päivärahan maksaa Kela. Ks. <a href="http://www.kela.fi/sairastaminen">lisätietoja sairausajan tuista Kelan sivustolta</a>.

h2 Äitiys- ja isyysvapaat

p Raskaus ei saa koskaan olla peruste, jolla työntekijää kohdellaan eriarvoisesti. Äitiysvapaan palkallisuus edellyttää, että työntekijä on ollut työsuhteessa vähintään 2 kuukautta ennen äitiysvapaan alkamista. Äitiysvapaata pitää hakea 2 kuukautta ennen sen alkamista. Äitiysvapaan ajalta työnantaja maksaa normaalin palkan 72 päivän ajan, jonka jälkeen maksatus siirtyy Kelalle. Isyysvapaan 6 ensimmäistä päivää on palkallista, sen jälkeen maksatus siirtyy Kelalle. Ks. <a href="http://www.kela.fi/lapsiperheet">lisätietoja lapsiperheiden tuista Kelan sivustolta</a>.

h2 Erikoistumiskoulutus ja yleislääketieteen erityiskoulutus

p Lue lisää <a href="/toissa-terveyskeskuksessa/erityis-ja-erikoistumiskoulutus.html">yleislääketieteen erityiskoulutuksesta ja erikoistumiskoulutuksesta terveyskeskuksissa</a>.

h2 Toimipaikka- ja täydennyskoulutus

p Terveyskeskus tarjoaa työntekijöilleen hyvät mahdollisuudet kehittää itseään ja työtään. Toimipaikkakoulutus on osa työnantajan järjestämää moniammatillista kehittämistoimintaa. Ammatillinen kehittyminen vaatii lääketieteellisen tiedon lisäksi kehittymistä työyhteisön jäsenenä ja toimintojen kehittäjänä. Terveyskeskuksissa on toimipaikkakoulutusta vähintään 2 tuntia viikossa. Terveyskeskus vastaa yhdessä työntekijän kanssa lakisääteisen täydennyskoulutuksen toteutumisesta. Lääkäreille velvoite on 10 päivää vuodessa. Työntekijän on mahdollista osallistua myös terveyskeskuksen ulkopuoliseen koulutukseen työnantajan kustannuksella.

h2 Tutkimus- ja kehitystehtävät

p Terveyskeskuksessa on myös mahdollisuus tehdä tutkimusta ja osallistua kehittämistoimintaan. Lue lisää <a href="/toissa-terveyskeskuksessa/tyojarjestelyt.html#tutkimus-ja-kehitys">tutkimus- ja kehitystehtävistä eri yliopistoissa</a>.

h2 Työmatkat

p Työpaikan ja kodin väliset työmatkat työntekijän maksaa itse. Työpaikalta toiseen työpisteeseen kohdistuvat matkat maksaa työnantaja.

h2 Työhyvinvointi (tyhy)

p Työhyvinvointia on esimerkiksi mahdollisuus käyttää kunnan liikuntapalveluja tai työyksikön yhdessä sopima tapahtuma. Mahdollisuuksia on monia.

h2 Työterveyshuolto

p Kunnallinen työterveyshuoltosopimus kattaa useimmiten sekä työntekijän ennalta ehkäisevän terveydenhoidon että sairauksien hoidon.

h2 Työsuojelu

p Työsuojelun tavoitteena on ehkäistä ennalta työntekijään kohdistuvia vaaroja ja uhkia. Työsuojelulla vaikutetaan työolosuhteisiin kuten sisäilmaan, valaistukseen, työn turvallisuuteen jne.

h2 Työpaikkademokratia

p Kunnallisilla työpaikoilla toimii luottamusmiesorganisaatio, jossa Lääkäriliiton kouluttama luottamusmies on lääkärien tukena. Työnantaja ei voi yksipuolisesti tehdä ratkaisuja, jotka vaikuttavat työntekijän palkkaukseen tai heikentävät työntekijän asemaa.

h2 Asuminen

p Kunta omistaa usealla paikkakunnalla vuokra-asuntoja. Terveyskeskus yhdessä kunnan kanssa voi auttaa sopivan asunnon löytämisessä.
