---
title: "Anvisningar för arbetsansökan – Arbeta på hälsovårdscentral"
description: "Anvisningar för arbetsansökan för läkare och tandläkare på hälsocentral. Så skriver jag en bra arbetsansökan och förbereder mig för arbetsintervjun."
keywords: "hälsovårdscentral, söka arbetet, anvisningar, arbetsansökan, anställningsintervju, intervju, läkare, tandläkare"
slug: "/sv/arbeta-pa-halsovardscentral/anvisningar-for-arbetsansokan.html"
counterPart: "/toissa-terveyskeskuksessa/ohjeita-tyonhakuun.html"
language: "sv"
counterLang: "fi"
---

h1 Anvisningar för arbetsansökan

p Det är inte alls så svårt som många tror att söka arbete. Genom en väl utformad arbetsansökan och bra förberedelse inför intervjun kommer du långt.

figure
  img(src="/images/tkrekry-hoitajat-kangasala.jpg", class="right", alt="Sjuksköterskor i arbetet")
  figcaption Bild:
    a(href="http://www.kangasala.fi/sosiaali_ja_terveys/terveyspalvelut/") Kangasala hälsovårdscentral

p Sök modigt arbete direkt på en hälsovårdscentral. Du kan också <a href="/sv/halsovardscentralen.html">kontakta</a> hälsovårdscentralen när inga <a href="/sv/lediga-jobb.html">lediga jobb</a> är utannonserade. Berätta om dig själv, din utbildning, arbetserfarenhet och vad du är intresserad av, så kan du kanske få jobb som är skräddarsytt för dig.

h2 Hur skriver jag en bra arbetsansökan?

p En bra arbetsansökan är sällan längre än en sida och innehåller åtminstone följande punkter:

ul
  li En rubrik, av vilken det framgår vilket arbete du söker.
  li Viktiga fakta, varför du är intresserad av arbetet och varför du är lämplig för arbetet.
  li Uppgifter om studier, var du studerar/har studerat, kursstatus.
  li Kort beskrivning av ditt nuvarande eller senaste arbete, dina arbetsuppgifter, ansvarsområden, prestationer och anställningens längd.
  li Kortfattat om annan väsentlig arbetserfarenhet, kompetens, språkkunskaper, kunskaper om patientdatasystem.
  li Specialkompetens/kunnande.
  li Dina löneanspråk.
  li Dina fritidsintressen.
  li CV (meritförteckning) som bilaga.

h3 Ladda ned mall för arbetsansökan

p Du kan använda följande dokumentmallar (pä finska) för din arbetsansökan.

ul
  li
    a(href="/doc/tyohakemuspohja-tkrekry.doc") tyohakemuspohja.doc (13 KB)
  li
    a(href="/doc/tyohakemuspohja-tkrekry.rtf") tyohakemuspohja.rtf (10 KB)
  li
    a(href="/doc/tyohakemuspohja-tkrekry.odt") tyohakemuspohja.odt (17 KB)

h2 Hur ska jag förbereda mig för arbetsintervjun?

p Det är bra att förbereda sig inför intervjun genom att gå igenom eventuella frågor som intervjuaren kan ställa och öva situationen på förhand, till exempel tillsammans med en vän. Försök svara ärligt och uppriktigt på frågorna. Tänk på att arbetsgivaren anställer endast en person som den anser vara kompetent och motiverad för arbetsuppgiften samt som passar in i arbetsgemenskapen.

p Följande frågor kan komma upp under intervjun:

ul
  li Hurudan människa är du?
  li Varför blev du intresserad av arbetet och arbetsplatsen?
  li Vilka är dina karriärplaner på lång sikt?
  li Vilka är dina styrkor?
  li Vilka egenskaper är du nöjd med hos dig själv? Vilka är dina svagheter eller utvecklingsmål?
  li Vilka är dina viktigaste prestationer i arbetslivet? Och utanför arbetet?
  li Vilka särdrag i din utbildning är av betydelse för den aktuella uppgiften?
  li Kan du beskriva dig själv med fem adjektiv? Hur är du som människa?
  li Vem kan ge dina referenser?
  li Hur ser du på din situation om fem år i fråga om arbetslivet? Vad tycker du utmärker en bra arbetsplats?
  li Om du inte får detta arbete, vad innebär det för dig?
  li Vilka andra jobb har du sökt samtidigt?
  li Dina löneanspråk?
  li Din uppsägningstid? När kan du börja?
  li Vilka frågor har du om uppgiften och arbetsgivaren?

p Om du vill kan du berätta om din familjesituation, dina fritidsintressen och dina framtidsplaner. Var dig själv under intervjun och var punktligt på plats!
