---
title: "Arbetsarrangemang - Arbeta på hälsovårdscentral"
description: "På hälsovårdscentralen är det möjligt att träffa arbetsarrangemang enligt den individuella livssituationen. Där finns också många intressanta forsknings- och utvecklingsuppgifter."
keywords: "läkare vid hälsovårdscentral, tandläkare, arbetsarrangemang, arbetsintroduktion, forskning, utveckling, hälsovårdscentral, läkare"
slug: "/sv/arbeta-pa-halsovardscentral/arbetsarrangemang.html"
counterPart: "/toissa-terveyskeskuksessa/tyojarjestelyt.html"
language: "sv"
counterLang: "fi"
---

h1 Arbetsarrangemang

p På hälsovårdscentralen är det möjligt att träffa arbetsarrangemang enligt den individuella livssituationen. Där finns många intressanta forsknings- och utvecklingsuppgifter.

figure
  img(src="/images/tkrekry-laakari-ensiapu.jpg", class="right", alt="Läkare och återupplivningdocka")
  figcaption Bild:
    a(href="http://www.sotesi.fi/") Sastamalan sosiaali- ja terveyspalvelut (Sotesi)

h2 Arbetsarrangemang och flexmöjligheter

p Arbets- och tjänstekollektivavtalen hos en offentlig arbetsgivare möjliggör flexibilitet i arbetet. Exempelvis arbetstiden kan anpassas enligt den individuella livssituationen:

ul
  li Småbarnsföräldrar har möjlighet att göra kortare arbetsveckor eller kortare dagar.
  li Det är möjligt att komma senare till arbetet.
  li Arbetstiden kan också fördelas mellan forskning och patientarbete.
  li Anhöriga, husdjur eller fritidsintressen kräver ibland mera tid.

h2 Kompetens och intresse

p Inom hälsovårdscentralernas breda arbetsfält finns det egna ansvarsområden för alla. Även forskning hör till hälsovårdscentralernas uppgifter.

h2 Introduktion i arbetet

p Hälsovårdscentralen ansvarar för att den nyanställda introduceras i sina arbetsuppgifter när anställningen inleds. De flesta hälsovårdscentralerna använder digitala introduktionsmappar. Kollegerna och den mångprofessionella arbetsgemenskapen hjälper den nyanställda att ta till sig patientdatasystemet och hälsovårdscentralens rutiner.

p För studerande utses en handledande läkare och man kommer överens om konsultationsrutiner och utbildning.

h2 Lärande i arbetet

ul
  li Fortgående lärande hör till vardagen på arbetsplatsen.
  li Handledarna och kollegerna hjälper den studerande med stöd och delar med sig av sitt kunnande under arbetet.
  li Vid hälsovårdscentralerna erbjuds möjlighet till regelbunden, mångprofessionell internutbildning.
  li Den professionella kompetensen kan kompletteras genom perioder med utbildning i arbetet vid andra enheter eller genom olika långa tider av extern utbildning.

h2#forsknings-och-utvecklingsuppgifter Forsknings- och utvecklingsuppgifter

p Vid hälsovårdscentralerna kan du delta i utvecklings- och forskningsarbete i en samarbetsgrupp eller exempelvis bedriva självständig avhandlingsforskning. En studie över funktionerna vid den egna hälsovårdscentralen kan räknas till godo i särskild allmänläkarutbildning. Kom överens om ämnet och metoderna med din handledare, den utbildningsansvarige och ditt universitet.

p Enheterna för allmänmedicin vid universiteten och primärvårdsenheterna i sjukvårdsdistrikten har förbundit sig att ge experthjälp och stöd till dem som arbetar vid hälsovårdscentralerna i anslutning till olika undersökningar, i fråga om t.ex. följande:

ul
  li Forskarutbildning
  li Forskningsplanering
  li Materialinsamling
  li Statistiska problem
  li Handledning
  li Finansiering
  li Publicering av forskning

p Vid hälsovårdscentralerna kan sjukdomar, patienter, befolkningen eller systemet och dess funktion vara föremål för forskningen. Genom primärvårdsenheten kan ett forskningssamarbete även byggas upp med experter inom specialsjukvården. Hör dig för i din egen fakultet och/eller den lokala primärvårdsenheten.

h3 Fakulteter:
ul
  li
    a(href="http://www.yle.helsinki.fi/tutkimus/tutkimus.html") Helsingfors universitet
  li
    a(href="http://www.uef.fi/fi/kttravi/yleislaaketiede") Östra Finlands universitet
  li
    a(href="http://www.oulu.fi/ltk/node/1590") Uleåborgs universitet
  li
    a(href="http://www.uta.fi/med/tutkimus/tutkimusryhmat/yleislaaketiede.html") Tammerfors universitet
  li
    a(href="http://www.utu.fi/fi/yksikot/med/Sivut/home.aspx") Åbo universitet

h3 Primärvårdsenheter:
ul
  li
    a(href="http://www.hus.fi/ammattilaiselle/husn-perusterveydenhuollon-yksikko/Sivut/default.aspx") HNS
  li
    a(href="https://www.psshp.fi/ammattilaiset/perusterveydenhuollon-yksikko") Norra Savolax sjukvårdsdistrikt
  li
    a(href="http://www.ppshp.fi/pth") Norra Österbottens sjukvårdsdistrikt
  li
    a(href="http://www.pshp.fi/default.aspx?contentid=259&contentlan=1") Birkalands sjukvårdsdistrikt
  li
    a(href="http://www.vsshp.fi/fi/pth") Egentliga Finlands sjukvårdsdistrikt
