---
title: "Hälsovårdscentralerna och kontaktinformation till rekryteringsansvariga"
description: "Hälsovårdscentralerna samt deras utbildningsberedskap, verksamhetsställen och kontaktinformation till de rekryteringsansvariga för läkare och tandläkare."
keywords: "hälsovårdscentral, kontaktinformation, läkare, tandläkare, verksamhetsställe, särskild allmänläkarutbildning och specialiseringsutbildning, rekrytering"
slug: "/sv/halsovardscentralen.html"
counterPart: "/terveyskeskukset.html"
language: "sv"
counterLang: "fi"
---

h1 Hälsovårdscentraler

p Du kan själv kontakta hälsovårdscentralerna om du har frågor om rekrytering, särskild allmänläkarutbildning och specialiseringsutbildning och amanuenstjänstgöring samt forskning och utbildning.

div.listing
  form(role="search", id="searchform")
    label(for="search") Sök på namn:
    input#search(type="search")

  ul#employer-list
    for employer in employers
      li
        - var url = "/" + healthCenterPath('sv/halsovardscentralen', employer)
        a(href=url)
          h2= employer.name
          i.fa.fa-chevron-right.fa-2x
