---
title: "Ongelmia sivustolla (virhe 500)
description: Sivustolla tai palvelimessa on ongelmia (virhe 500), jotka estävät sivuston käytön tällä hetkellä. Selvitämme vikaa ja suosittelemme, että tarkistat tilanteen uudelleen jonkin ajan kuluttua tai viimeistään huomenna."
keywords: "500"
slug: "/500.html"
counterPart: "500.html"
language: "fi"
counterLang: "sv"
private: true
---
h1 Ongelmia sivustolla (virhe 500)

p Sivustolla tai palvelimessa on ongelmia, jotka estävät sivuston käytön tällä hetkellä. Selvitämme vikaa ja suosittelemme, että tarkistat tilanteen uudelleen jonkin ajan kuluttua tai viimeistään huomenna.

h1(lang="sv") Problem på webbplatsen (fel 500)

p(lang="sv") Det har uppstått problem på webbplatsen eller på servern som förhindrar användning av webbplatsen just nu. Vi utreder problemet och rekommenderar att du försöker på nytt om en stund eller senast i morgon.
