---
title: "Töissä terveyskeskuksessa"
description: "Yleislääketieteen erityis- ja erikoiskoulutus, työnhaku, lääkärin ja hammaslääkärin palkka, työsuhde-edut ja terveyskeskuksen työjärjestelyt."
keywords: "yleislääketieteen erityis- ja erikoistumiskoulutus, ohjeita työnhakuun, lääkärin palkka, hammaslääkärin palkka, työsuhde-edut, työjärjestelyt, terveyskeskus, töissä terveyskeskuksessa, terveyskeskus työnantajana"
slug: "/toissa-terveyskeskuksessa.html"
counterPart: "/sv/arbeta-pa-halsovardscentral.html"
language: "fi"
counterLang: "sv"
layout: fi.pug
---

h1 Töissä terveyskeskuksessa

h2 Yleislääketieteen erityis- ja erikoistumiskoulutus

p Yleislääketieteen erityis- ja erikoistumiskoulutuspalveluja sekä lääketieteen lisensiaattiopintojen amanuenssuuripalveluja voi suorittaa yliopiston hyväksymässä koulutusterveyskeskuksessa. <a href="/toissa-terveyskeskuksessa/erityis-ja-erikoistumiskoulutus.html">Lue lisää jatkokoulutuksista ja amanuenssuureista &raquo;</a>

figure
  img(src="/images/tkrekry-laakari-suupohja-02.jpg", class="right", alt="Naislääkäri tietokoneella")
  figcaption Kuva:
    a(href="http://www.llky.fi/") Suupohjan peruspalveluliikelaitoskuntayhtymä

h2 Ohjeita työnhakuun

p Lääkärin ja hammaslääkärin työnhakuohjeet terveyskeskukseen. <a href="/toissa-terveyskeskuksessa/ohjeita-tyonhakuun.html">Lue miten kirjoitat hyvän työpaikkahakemuksen ja valmistaudut työhaastatteluun &raquo;</a>

h2 Lääkärin palkka

p Lääkärin palkka määräytyy väestövastuuvirkaehtosopimuksen (omalääkäri) tai yleisen terveyskeskuslääkärien virkaehtosopimuksen (muu kuin omalääkäri) perusteella tai sopimalla palkkiosta erikseen muulla tavoin. <a href="/toissa-terveyskeskuksessa/laakarin-palkka.html">Lue mistä lääkärin kokonaispalkka muodostuu &raquo;</a>

h2 Hammaslääkärin palkka

p Hammaslääkärin kokonaispalkka muodostuu tehtäväkohtaisesta palkasta, henkilökohtaisesta lisästä, toimenpidepalkkioista ja mahdollisista lisätöistä ja päivystyksistä. <a href="/toissa-terveyskeskuksessa/hammaslaakarin-palkka.html">Lue lisää hammaslääkärin palkasta &raquo;</a>

h2 Työsuhde-edut

p Kunnallinen työsuhde tarjoaa useita etuja, kuten työsuhdeturva, lomat, vapaat, jatkokoulutusmahdollisuudet, toimipaikka- ja täydennyskoulutus sekä erilaiset työhyvinvointia lisäävät palvelut. <a href="/toissa-terveyskeskuksessa/tyosuhde-edut.html">Lue lisää eduistasi &raquo;</a>

h2 Työjärjestelyt

p Terveyskeskuksessa työjärjestelyt on mahdollista sopia henkilökohtaisen elämäntilanteen mukaan. Terveyskeskuksessa on tarjolla myös kiinnostavia tutkimus- ja kehitystehtäviä. <a href="/toissa-terveyskeskuksessa/tyojarjestelyt.html">Lue lisää työjärjestelyistä &raquo;</a>
